<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= siteTitle %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/owl.theme.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/style1.css">
  <link rel="stylesheet" href="/css/style2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- fonts -->
  <link
    href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700|Oxygen:400,300,700'
    rel='stylesheet' />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet" />
  <link href="/css/aos.css" rel="stylesheet" />
  <link href="/css/afterloginuser.css" rel="stylesheet" />
</head>

<body>
  <div class="sidenav" id="sidenav">
    <a class="cancelNav">
      &times;
    </a>
    <% if(user) { %>
    <% if (user.paid == "free") { %>
    <a class="searchbar" href="/afterlogin"><span style="padding-left: 10px;cursor:pointer">Artikel
        entdecken</span></a>
    <a class="searchbar" href="/publisher"><span style="padding-left: 10px;cursor:pointer">Publisher
        werden</span></a>
    <a class="searchbar" href="/membership"><span style="padding-left: 10px;cursor:pointer">Exklusive
        Inhalte</span></a>
    <hr>
    <% } else if(user.paid == 'paid') { %>
    <a class="searchbar" href="/membership"><span style="padding-left: 10px;cursor:pointer">Exklusive
        Inhalte</span></a>
    <a class="searchbar" href="#"><span style="padding-left: 10px;cursor:pointer">Blog kürzlich</span>
    </a>
    <a class="searchbar" href="/publisher"><span style="padding-left: 10px;cursor:pointer">Publisher
        werden</span></a>
    <% } %>
    <% if(user.roleId == 'admin') { %>
    <span class="username_span"><%= user.username%></span>
    <hr>
    <a href="/dashboard/index" class="searchbar"><i class="fa fa-cog profileicon"></i>Dashboard</a>
    </a>
    <a href="/author/<%= user.username%>" class="searchbar"><i class="fa fa-user-circle profileicon"></i>Profile</a>
    <a href="/log-out" class="searchbar"><i class="fa fa-sign-out profileicon"></i>Sign Out</a>
    <% } else {%>
    <span class="username_span"><%= user.username%></span>
    <hr>
    <a href="/user/dashboard" class="searchbar"><i class="fa fa-cog profileicon"></i>Control Panel</a>

    <a href="/author/<%= user.username%>" class="searchbar"><i class="fa fa-user-circle profileicon"></i>Profile</a>
    <a href="/log-out" class="searchbar"><i class="fa fa-sign-out profileicon"></i>Sign Out</a>
    <% } %>
    <% } else {%>
    <a class="searchbar" href="/publisher"><span style="padding-left: 10px;cursor:pointer">Publisher
        werden</span></a>
    <a class="searchbar" href="/afterlogin"><span style="padding-left: 10px;cursor:pointer">Artikel
        entdecken</span></a>
    <% } %>
  </div>

  <header class="sticky" id="header">
    <section class="container">
      <section style="display: flex; align-items: center;" class="row" id="logo_menu">
        <section class="col-xs-1 col-md-2 menu-logo">
          <div class="header-maindiv">
            <div class="inner-header-maindiv-icon">
              <div class="header-logo">
                <a href="/"><img src="/images/GOLDEN-PNG.png"></a>
              </div>
              <div id="myTopnav" class="topnav">
                <form action="/search" method="get" class="search-form d-lg-flex" id="searchForm">
                  <div class="container">
                    <a type="button" href="javascript:void(0)" class="closebtn"
                      style="right: 15%; padding-left: 10px; padding-right: 10px;" onclick="searchForm()"
                      id="closebtn"><i class="fa fa-search"></i></a>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <input id="q" type="text" placeholder="Suche" name="q" value="" onfocus="displaySearchbtn()" />
                    <label>Suche Inhalte, die dich begeistern</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <div class="col-xs-11 col-md-10 menu-small" style="text-align: right;">
          <a class="searchbar" href="#"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openNav()"><i class="fa fa-search" aria-hidden="true"></i></span></a>
          <a class="searchbar" href="#"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openSidebar()"><i class="fa fa-bars" aria-hidden="true"></i></span></a>
        </div>
        <div class="col-xs-11 col-md-10 menu-large" style="text-align: right;">
          <% if(user) { %>
          <% if (user.paid == "free") { %>
          <a class="searchbar" href="/afterlogin"><span style="padding-left: 10px;cursor:pointer">Artikel
              entdecken</span></a>
          <a class="searchbar" href="/publisher"><span style="padding-left: 10px;cursor:pointer">Publisher
              werden</span></a>
          <a class="searchbar" href="/membership"><span style="padding-left: 10px;cursor:pointer">Exklusive
              Inhalte</span></a>
          <% } else if(user.paid == 'paid') { %>
          <a class="searchbar" href="/membership"><span style="padding-left: 10px;cursor:pointer">Exklusive
              Inhalte</span></a>
          <a class="searchbar" href="#"><span style="padding-left: 10px;cursor:pointer">Blog kürzlich</span>
          </a>
          <a class="searchbar" href="/publisher"><span style="padding-left: 10px;cursor:pointer">Publisher
              werden</span></a>
          <% } %>
          <a class="searchbar" href="#"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openNav()"><i class="fa fa-search" aria-hidden="true"></i></span></a>
          <div class="dropdown" style="display: contents;">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown" style="font-size: 20px;"><i
                class="fa fa-user"></i><span class="caret"></span></a>
            <ul class="dropdown-menu profile">
              <% if(user.roleId == 'admin') { %>
              <li><span><%= user.username%></span></li>
              <li><a href="/dashboard/index" class="searchbar"><i class="fa fa-cog profileicon"></i>Dashboard</a>
              </li>
              <li><a href="/author/<%= user.username%>" class="searchbar"><i
                    class="fa fa-user-circle profileicon"></i>Profile</a></li>
              <li><a href="/log-out" class="searchbar"><i class="fa fa-sign-out profileicon"></i>Sign Out</a>
              </li>
            </ul>
            <% } else {%>
            <li><span><%= user.username%></span></li>
            <li><a href="/user/dashboard" class="searchbar"><i class="fa fa-cog profileicon"></i>Control Panel</a>
            </li>
            <li><a href="/author/<%= user.username%>" class="searchbar"><i
                  class="fa fa-user-circle profileicon"></i>Profile</a></li>
            <li><a href="/log-out" class="searchbar"><i class="fa fa-sign-out profileicon"></i>Sign Out</a></li>
            <% } %>
            </ul>
          </div>
          <% } else {%>
          <a class="searchbar" href="/publisher"><span style="padding-left: 10px;cursor:pointer">Publisher
              werden</span></a>
          <a class="searchbar" href="/afterlogin"><span style="padding-left: 10px;cursor:pointer">Artikel
              entdecken</span></a>
          <a class="searchbar" href="#"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openNav()"><i class="fa fa-search" aria-hidden="true"></i></span></a>
          <a href="/sign-up" class="searchbar"><span style="font-size:20px; padding-left: 10px;cursor:pointer"><i
                class="fa fa-user"></i></span></a>
          <a href="/login" class="searchbar"><span style="font-size:20px; padding-left: 10px;cursor:pointer"><i
                class="fa fa-sign-in"></i></span></a>
          <%}%>
        </div>
      </section>
    </section>
  </header>

  <div style="width: 100%;" class="after-login-banner">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% for(var i = 0; i < editorsPicker.length; i ++){%>
          <div
            class="carousel-item bg1 <% if(i == 0){%>active<%}%>" style="background-image: linear-gradient(#00000061, #00000069), url('<%= editorsPicker[i].file%>')">
            <div class="carousel-caption">
              <h5><span><%= editorsPicker[i].category.name%></span></h5>
              <h1><%= editorsPicker[i].title%></h1>
            </div>
          </div>
          <% }%>
        </div>
        </div>
        </div>

        <div class="after-login-page-content">
          <div class="container-fluid">
            <div class="inner-after-login-page-content">
              <hr>
              <h4>Lieblingsautoren</h4>
              <hr>
              <div class="row">
                <% for(var i = 0; i < authorarticle.length; i ++){%>
                <div class="col-md-3">
                  <div class="content-two-zoom">
                    <div class="content-two"
                      style="background-image: linear-gradient(#00000073, #0000007d), url('<%= authorarticle[i].file%>');">
                      <div class="content-two-btn">
                        <a href="#"><%= authorarticle[i].category.name%></a>
                      </div>
                      <div class="content-two-text">
                        <h2><%= authorarticle[i].title%></h2>
                        <p style="overflow-wrap: anywhere;"><%= authorarticle[i].summary%>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <%}%>
        </div>
        <hr><h4>Beliebt</h4><hr>
        <div class="row">
          <% for(var i = 0; i < popular.length; i ++){%>
                <div class="col-md-3">
                  <div class="content-one" style="height: 600px;">
                    <div class="content-one-img">
                      <img src="<%= popular[i].file%>" style="height: auto;width: 100%; max-height: 150px;">
                      <a href="#"><%= popular[i].category.name%></a>
                    </div>
                    <div class="content-one-text">
                      <h4 style="display: flex; overflow-wrap: anywhere;"><%= popular[i].title%></h4>
                      <p ><%= popular[i].summary%></p>
                    </div>
                  </div>
                </div>
                <%}%>
        </div>
        <hr><h4>Empfehlungen</h4><hr>
        <div class="row">
          <% for(var i = 0; i < random.length; i ++){%>
        <div class="col-md-3">
          <div class="content-four">
            <div class="content-four-text">
              <h2 style="display: flex; overflow-wrap: anywhere;"><%= random[i].title%></h2>
              <p><%= random[i].summary%></p>
            </div>
          </div>
        </div>
        <%}%>
        </div>

<!-- 
          <div class="col-md-9">
            <div class="content-three">
              <div class="row">
                <div style="padding-right: 0px;" class="col-md-6">
                  <div class="content-three-text">
                    <div class="content-three-text-btn">
                      <a href="#">gaming</a>
                    </div>
                    <div class="content-three-text-brief">
                      <p>March 21, 2013</p>
                      <h2>Magna Quis</h2>
                      <p>Even the all-powerful Pointing has no control over the situation. Even the all-powerful
                        Pointing has no control about the blind texts it is an almost unorthographic life One day
                        however a...</p>
                    </div>
                  </div>
                </div>
                <div style="padding-left: 0px;" class="col-md-6">
                  <div class="content-three-img">
                    <img src="/images/crowd.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
           -->
          <!-- <div class="col-md-3">
            <div class="content-one">
              <div class="content-one-img">
                <img src="/images/mountain2.jpg">
                <a href="#">Fashion</a>
              </div>
              <div class="content-one-text">
                <p>February 14, 2013</p>
                <h2>Be My Guest</h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="content-five">
              <div id="demo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item sld1 active">
                  </div>
                  <div class="carousel-item sld2">
                  </div>
                  <div class="carousel-item sld3">
                  </div>
                  <div class="slider-content">
                    <div class="slider-content-text-btn">
                      <a href="#">gaming</a>
                    </div>
                    <div class="slider-content-text-brief">
                      <p>January 23, 2013</p>
                      <h2>Interdum</h2>
                      <p>Cras et libero iaculis, consequat nisi nec, tristi que metus. Praesent eu odio in velit maximus
                        accumsan </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="content-one">
              <div class="content-one-img">
                <img src="/images/mountain3.jpg">
                <a href="#">Fashion</a>
              </div>
              <div class="content-one-text">
                <p>January 15, 2013</p>
                <h2>The Mountain</h2>
                <p>Sed condimentum massa in enim cursus, sed mattis elit malesuada. Lorem sapien acveh icula
                  vestibulum,...</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="content-one">
              <div class="content-one-img">
                <img src="/images/bridge.jpg">
                <a href="#">Food For Thought</a>
              </div>
              <div class="content-one-text">
                <p>January 11, 2013</p>
                <h2>Velit Porttito</h2>
                <p>Quisque porta ipsum quis neque elementum lacinia. Pellentesque ut risus rutrum, tristique lacus nec,
                  mollis...</p>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="content-three">
              <div class="row">
                <div style="padding-right: 0px;" class="col-md-6">
                  <div class="content-three-text">
                    <div class="content-three-text-btn">
                      <a href="#">gaming</a>
                    </div>
                    <div class="content-three-text-brief">
                      <p>January 10, 2013</p>
                      <h2>Ink In Water</h2>
                      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                      </p>
                    </div>

                  </div>
                </div>
                <div style="padding-left: 0px;" class="col-md-6">
                  <div class="content-three-img">
                    <img src="/images/boat.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="content-one">
              <div class="content-one-img">
                <img style="visibility: hidden;" src="/images/mountain2.jpg">
                <a style="color: #ccc;" href="#">Food For Thought</a>
              </div>
              <div class="content-one-text">
                <p>January 8, 2013</p>
                <h2>Aenean tortor</h2>
                <p>Vivamus risus mi, lobortis ut congue vitae, vestibulum vitae augue. Maecenas nunc odio, pulvinar
                  id...</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="content-two-zoom">
              <div class="content-two">
                <div class="content-two-btn">
                  <a href="#">Gaming</a>
                </div>
                <div class="content-two-text">
                  <p>January 8, 2013</p>
                  <h2>Donec Porta</h2>
                  <p>Even the all-powerful Pointing has no control over the situation. far from the countries Vokalia
                    and...</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="content-one">
              <div class="content-one-img">
                <img src="/images/guy2.jpg">
                <a href="#">Fashion</a>
              </div>
              <div class="content-one-text">
                <p>January 7, 2013</p>
                <h2>Elementum</h2>
                <p>Even the all-powerful Pointing has no control over the situation. Even the all-powerful Pointing has
                  no...</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="content-one">
              <div class="content-one-img">
                <img src="/images/sea.jpg">
                <a href="#">Music</a>
              </div>
              <div class="content-one-text">
                <p>January 7, 2013</p>
                <h2>Mellow Waves</h2>
                <p>Phasellus venenatis venenatis velit ut ultricies. Cras porta dignissim malesuada. Etiam auctor, justo
                  et facilisis...</p>
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="content-four">
              <div class="content-four-text">
                <h2>The Sweetest WordPress Themes Around.</h2>
                <p>http://www.themenectar.com</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
  
<section class="footer-main" id="footer">
  <div class="container">
     <div class="innner-footer-main">
        <div class="footer-social-icons">
           <div class="col-md-12 col-sm-12 social-media">
              <a href="<%= twitter %>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a style="padding: 11px 20px;" href="<%= facebook %>"><i class="fa fa-facebook"
                    aria-hidden="true"></i></a>
              <a href="<%= linkedin %>"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="<%= youtube %>"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              <a href="<%= instagram %>"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="<%= pinterest %>"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
           </div>
           
        </div>
        <div class="footer-copyright">
           <p><% if(copyright != undefined) { %><p>
                 <%= copyright.charAt(0).toUpperCase() + copyright.substring(1) %></a></p><%}%></p>
        </div>
        <hr>
        <div class="row">
           <div class="col-md-10">
              <div class="row">
                 <% for(var i = 0; i < footercategory.length; i ++){%>
              <div class="col-md-3 text-left">
                 <a style="color: black;" href="/kategorie/<%= footercategory[i].slug%>" class="footercategory"><%= footercategory[i].name %></a>
              </div>
              <%}%>
              </div>
           </div>
           <div class="col-md-2">
              <div class="row">
                 <div class="col-md-12 text-left">
                    <h4><a style="color:black" href="/d/official/impressum" class="footercategory">Impressum</a></h4>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-12 text-left">
                    <h4><a style="color:black" class="footercategory">AGB</a></h4>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-12 text-left">
                    <h4><a style="color:black" href="/d/official/datenschutz" class="footercategory">Datenschutz</a></h4>
                 </div>
              </div>
           </div>
        </div>
        <hr>
     </div>
     <a href="#" id="scroll" style="display: none;"><span></span></a>
  </div>
</section>

<%- mainSettings.googleAnalyticsCode %>
              <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
              <script src="/js/jquery-2.1.3.min.js" type="text/javascript"></script>
              <script src="/js/popper.min.js"></script>
              <script src="/js/bootstrap1.js" type="text/javascript"></script>
              <script src="/js/owl.carousel.js" type="text/javascript"></script>
              <script src="/js/script1.js" type="text/javascript"></script>
              <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
              <script src="/js/footer.js" type="text/javascript"></script>
              </body>
              </html>