<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title%></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="name" content="<%= title%>" />
  <meta name="description" content="<%= category.description%>" />
  <!-- css -->
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="3224d967-44a4-4a53-88f6-559eac64c8a5" data-blockingmode="auto" type="text/javascript"></script>
  <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.min.css" async>
  <link rel="stylesheet" href="/css/ionicons.min.css" async>
  <link rel="stylesheet" href="/css/owl.carousel.css" async>
  <link rel="stylesheet" href="/css/owl.theme.css" async>
  <link rel="stylesheet" href="/css/animate.css" async>
  <link rel="stylesheet" href="/css/style1.css" async>
  <link rel="stylesheet" href="/css/style2.css" async>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- fonts -->
  <link
    href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700|Oxygen:400,300,700&display=swap'
    rel='stylesheet' />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet" />
  <link href="/css/aos.css" rel="stylesheet" async />
  <link href="/css/header.css" rel="stylesheet" async />
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<body>
  <div class="sidenav" id="sidenav">
    <a class="cancelNav">
      &times;
    </a>
    <% if(user) { %>
    <% if (user.paid == "free") { %>
    <a class="searchbar" href="/afterlogin"><span class="menu-title">Inhalte
        entdecken</span></a>
    <a class="searchbar" href="/publisher"><span class="menu-title">Blogger
        werden</span></a>
    <a class="searchbar" href="/ourwork"><span class="menu-title">Exklusive
        Inhalte</span></a>
    <hr>
    <% } else if(user.paid == 'paid') { %>
    <a class="searchbar" href="/ourwork"><span class="menu-title">Exklusive
        Inhalte</span></a>
    <a class="searchbar" href="/blogrecent"><span class="menu-title">Feed</span>
    </a>
    <a class="searchbar" href="/publisher"><span class="menu-title">Blogger
        werden</span></a>
    <% } %>
    <% if(user.roleId == 'admin') { %>
    <span class="username_span"><%= user.username%></span>
    <hr>
    <a href="/dashboard/index" class="searchbar"><i class="fa fa-cog profileicon"></i>Dashboard</a>
    </a>
    <a href="/author/<%= user.usernameslug%>" class="searchbar"><i class="fa fa-user-circle profileicon"></i>Mein
      Profil</a>
    <a href="/log-out" class="searchbar"><i class="fa fa-sign-out profileicon"></i>Ausloggen</a>
    <% } else {%>
    <span class="username_span"><%= user.username%></span>
    <hr>
    <a href="/user/dashboard" class="searchbar"><i class="fa fa-cog profileicon"></i>Dashboard</a>
    <a href="/author/<%= user.usernameslug%>" class="searchbar"><i class="fa fa-user-circle profileicon"></i>Mein
      Profil</a>
    <a href="/log-out" class="searchbar"><i class="fa fa-sign-out profileicon"></i>Ausloggen</a>
    <% } %>
    <% } else {%>
    <a class="searchbar" href="/publisher"><span class="menu-title">Blogger
        werden</span></a>
    <a class="searchbar" href="/afterlogin"><span class="menu-title">Inhalte
        entdecken</span></a>
    <a class="searchbar" href="/login"><i class="fa fa-sign-in"></i><span class="menu-title">Einloggen</span></a>
    <a class="searchbar" href="/sign-up"><i class="fa fa-user"></i><span class="menu-title">Registrieren</span></a>
    <% } %>
  </div>
  <header class="sticky" id="header">
    <section class="container">
      <section class="row header" id="logo_menu">
        <section class="col-xs-1 col-md-2 menu-logo">
          <div class="header-maindiv">
            <div class="inner-header-maindiv-icon">
              <div class="header-logo">
                <a href="/">
                  <img id="header-logo-image" src="/images/GOLDEN-PNG.png">
                </a>
              </div>
              <div id="myTopnav" class="topnav">
                <form action="/search" method="get" class="search-form d-lg-flex float-right" id="searchForm">
                  <div class="container">
                    <a type="button" href="javascript:void(0);" class="closebtn"
                      style="right: 15%; padding-left: 10px; padding-right: 10px;" onclick="searchForm()"
                      id="closebtn"><i class="fa fa-search"></i></a>
                    <a href="javascript:void(0);" class="closebtn" onclick="closeNav()">&times;</a>
                    <input id="q" type="text" placeholder="Suche" name="q" value="" onfocus="displaySearchbtn()" />
                    <label>Suche Inhalte, die dich begeistern</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>

        <div class="col-xs-11 col-md-10 menu-small">
          <a class="searchbar" href="#"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openNav()"><i class="fa fa-search" aria-hidden="true"></i></span></a>
          <a class="searchbar" href="#"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openSidebar()"><i class="fa fa-bars" aria-hidden="true"></i></span></a>
        </div>
        <div class="col-xs-11 col-md-10 menu-large">
          <% if(user) { %>
          <% if (user.paid == "free") { %>
          <a class="searchbar" href="/afterlogin"><span class="menu-title">Inhalte
              entdecken</span></a>
          <a class="searchbar" href="/publisher"><span class="menu-title">Blogger
              werden</span></a>
          <a class="searchbar" href="/ourwork"><span class="menu-title">Exklusive
              Inhalte</span></a>
          <% } else if(user.paid == 'paid') { %>
          <a class="searchbar" href="/ourwork"><span class="menu-title">Exklusive
              Inhalte</span></a>
          <a class="searchbar" href="/blogrecent"><span class="menu-title">Feed</span>
          </a>
          <a class="searchbar" href="/publisher"><span class="menu-title">Blogger
              werden</span></a>
          <% } %>
          <a class="searchbar" href="#"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openNav()"><i class="fa fa-search" aria-hidden="true"></i></span></a>
          <div class="dropdown" style="display: contents;">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown" style="font-size: 20px;"><i
                class="fa fa-user"></i><span class="caret"></span></a>
            <ul class="dropdown-menu profile" style="left: 80%;">
              <% if(user.roleId == 'admin') { %>
              <li><span class="username_span"><%= user.username%></span></li>
              <li><a href="/dashboard/index" class="searchbar"><i class="fa fa-cog profileicon"></i>Dashboard</a>
              </li>
              <li><a href="/author/<%= user.usernameslug%>" class="searchbar"><i
                    class="fa fa-user-circle profileicon"></i>Mein Profil</a></li>
              <li><a href="/log-out" class="searchbar"><i class="fa fa-sign-out profileicon"></i>Ausloggen</a>
              </li>
            </ul>
            <% } else {%>
            <li><span class="username_span"><%= user.username%></span></li>
            <li><a href="/user/dashboard" class="searchbar"><i class="fa fa-cog profileicon"></i>Dashboard</a>
            </li>
            <li><a href="/author/<%= user.usernameslug%>" class="searchbar"><i
                  class="fa fa-user-circle profileicon"></i>Mein Profil</a></li>
            <li><a href="/log-out" class="searchbar"><i class="fa fa-sign-out profileicon"></i>Ausloggen</a></li>
            <% } %>
            </ul>
          </div>
          <a class="searchbar" href="javascript:void();"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openNotification()"><i class="fa fa-bell-o" aria-hidden="true"></i></span></a>
          <% } else {%>
          <a class="searchbar" href="/publisher"><span class="menu-title">Blogger
              werden</span></a>
          <a class="searchbar" href="/afterlogin"><span class="menu-title">Inhalte
              entdecken</span></a>
          <a class="searchbar" href="#"><span style="font-size:20px; padding-left: 10px;cursor:pointer"
              onclick="openNav()"><i class="fa fa-search" aria-hidden="true"></i></span></a>
          <a href="/sign-up" class="searchbar"><span style="font-size:20px; padding-left: 10px;cursor:pointer"><i
                class="fa fa-user"></i></span><span
              style="position: absolute; bottom: -10px; left: -3px;font-size: 10px;">Registrieren</span></a>
          <a href="/login" class="searchbar"><span style="font-size:20px; padding-left: 10px;cursor:pointer"><i
                class="fa fa-sign-in"></i></span><span
              style="position: absolute; bottom: -10px;left: 4px; font-size: 10px;">Einloggen</span></a>
          <%}%>
            </div>
         </section>
            <!-- <a href="/membership" class="searchbar">Member ship</a> -->
      </section>
      <div class="progress">
         <div class="progress-bar" id="processbar" role="progressbar" aria-valuenow="100"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
         </div>
       </div>
   </header>
<link href="/css/category.css" rel="stylesheet" />
<div class="category-banner" style="background-image: linear-gradient(#0000003d, #00000040), url('<%= background %>');">
          <div class="container">
            <div class="inner-container">
              <div class="category-banner-content">
                <p style="color: white; font-size: 55px;font-weight: 700;overflow-wrap: anywhere;"><%= cat%></p>
                <h3 style="color: white;"><%= category.description%></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="category-content-main">
          <div class="container">
            <div class="inner-category-content-main">
              <div class="row">
                <div class="col-md-8">
                  <div class="category-content-main-left">
                    <% for(var i = 0; i < (post.length / 3) ; i ++) { %>
                    <div class="row">
                      <% for(var j = 0; j < 2; j ++) {%>
                      <% if((i*3 + j) < post.length) {%>
                      <div class="col-md-6">
                        <div class="recommnet">
                          <div class="recommnet-img">
                            <img src="<%= post[i*3 + j].file %>">
                          </div>
                          <div class="recommnet-cate">
                            <a href="javascript:void(0);"
                              style="font-family: Montserrat;"><span><%= post[i*3 + j].category.name%></span></a>
                          </div>
                          <div class="recommnet-heading2">
                            <p style="overflow-wrap: break-word;font-size: 18px;">
                              <%
                                var showPopup = true;
                                var url = "";
                                if(post[i*3 + j].postedBy.roleId == "admin"){
                                  url = "/d/" + post[i*3 + j].category.slug + "/" + post[i*3 + j].slug;
                                }else{
                                  url = "/p/" + post[i*3 + j].category.slug + "/" + post[i*3 + j].slug;
                                }
                                if(post[i*3 + j].qualify != "qualify"){
                                  showPopup = false;
                                }
                                if(user){
                                  if(user.paid == "paid"){
                                    if(post[i*3 + j].qualify == "qualify"){
                                      showPopup = false;
                                    }
                                  }
                                }
                              %>
                              <a url="<%= url%>" type="button" class="articlelink" qualify="<%= showPopup%>"
                                style="color:black;font-family: EB Garamond;">
                                <%= post[i*3 + j].title.charAt(0).toUpperCase() + post[i*3 + j].title.substring(1) %>
                              </a>
                            </p>
                            <p style="overflow-wrap: break-word; font-family: EB Garamond;">
                              <% if(post[i*3 + j].summary != undefined) { %>
                              <%= post[i*3 + j].summary %> <% } %></p>
                          </div>
                          <div class="recommnet-madeby">
                            <div class="recommnet-madeby-img">
                              <img src="<%= post[i*3 + j].postedBy.profilePicture%>">
                            </div>
                            <div class="recommnet-madeby-details">
                              <h5><%= post[i*3 + j].postedBy.firstName%> <%= post[i*3 + j].postedBy.lastName%></h5>
                              <!-- <p><%= post[i*3 + j].createdAt.toDateString() %></p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                      <% } %>
                    </div>
                    <% } %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="category-content-main-right">
                    <div class="category-search">
                      <div class="category-search-heading">
                        <h4>Beliebt</h4>
                      </div>
                      <% if(popular.length > 0){%>
                      <% 
                        var showPopup = true;
                        var url = "";
                        if(popular[0].postedBy.roleId == "admin"){
                          url = "/d/" + popular[0].category.slug + "/" + popular[0].slug;
                        }else{
                          url = "/p/" + popular[0].category.slug + "/" + popular[0].slug;
                        }
                        if(popular[0].qualify != "qualify"){
                          showPopup = false;
                        }
                        if(user){
                          if(user.paid == "paid"){
                            if(popular[0].qualify == "qualify"){
                              showPopup = false;
                            }
                          }
                        }
                       %>
                      <div class="category-search-bg1" url="<%= url%>" qualify="<%= showPopup%>"
                        style="background: linear-gradient(#d6d3fa00, #f9c7ff49), url('<%= popular[0].file %>'); background-size: cover;">
                        <div class="category-search-bg1-contant">
                          <div class="one-round1">
                            <span>1</span>
                          </div>
                          <div class="two-round1">
                            <h3><%= popular[0].title%></h3>
                          </div>
                        </div>
                      </div>
                      <%}%>
                      <% if(popular.length > 1){%>
                      <% 
                      var showPopup = true;
                      var url = "";
                      if(popular[1].postedBy.roleId == "admin"){
                        url = "/d/" + popular[1].category.slug + "/" + popular[1].slug;
                      }else{
                        url = "/p/" + popular[1].category.slug + "/" + popular[1].slug;
                      }
                      if(popular[1].qualify != "qualify"){
                        showPopup = false;
                      }
                      if(user){
                        if(user.paid == "paid"){
                          if(popular[1].qualify == "qualify"){
                            showPopup = false;
                          }
                        }
                      }
                       %>
                      <div class="category-search-bg1" url="<%= url%>" qualify="<%= showPopup%>"
                        style="background: linear-gradient(#d6d3fa00, #f9c7ff49), url('<%= popular[1].file %>'); background-size: cover;">
                        <div class="category-search-bg1-contant">
                          <div class="one-round1">
                            <span>2</span>
                          </div>
                          <div class="two-round1">
                            <h3><%= popular[1].title%></h3>
                          </div>
                        </div>
                      </div>
                      <%}%>
                      <% if(popular.length > 2){%>
                      <% 
                      var showPopup = true;
                      var url = "";
                      if(popular[2].postedBy.roleId == "admin"){
                        url = "/d/" + popular[2].category.slug + "/" + popular[2].slug;
                      }else{
                        url = "/p/" + popular[2].category.slug + "/" + popular[2].slug;
                      }
                      if(popular[2].qualify != "qualify"){
                        showPopup = false;
                      }
                      if(user){
                        if(user.paid == "paid"){
                          if(popular[2].qualify == "qualify"){
                            showPopup = false;
                          }
                        }
                      }
                      %>
                      <div class="category-search-bg1" url="<%= url%>" qualify="<%= showPopup%>"
                        style="background: linear-gradient(#d6d3fa00, #f9c7ff49), url('<%= popular[2].file %>'); background-size: cover;">
                        <div class="category-search-bg1-contant">
                          <div class="one-round1">
                            <span>3</span>
                          </div>
                          <div class="two-round1">
                            <h3><%= popular[2].title%></h3>
                          </div>
                        </div>
                      </div>
                      <%}%>
            </div>
            <div class="category-search">
              <div class="category-search-heading">
                <h4>Neueste Artikel</h4>
              </div>
                      <% for(var i = 0; i < recent.length; i ++){%>
                      <% 
                      var showPopup = true;
                      var url = "";
                      if(recent[i].postedBy.roleId == "admin"){
                        url = "/d/" + recent[i].category.slug + "/" + recent[i].slug;
                      }else{
                        url = "/p/" + recent[i].category.slug + "/" + recent[i].slug;
                      }
                      if(recent[i].qualify != "qualify"){
                        showPopup = false;
                      }
                      if(user){
                        if(user.paid == "paid"){
                          if(recent[i].qualify == "qualify"){
                            showPopup = false;
                          }
                        }
                      }
                      %>
                      <div class="category-search-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="category-search-content-img">
                              <img src="<%= recent[i].file %>" />
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="category-search-content-text" style="overflow-wrap: break-word;">
                              <h3 class="last-article" url="<%= url%>" qualify="<%= showPopup%>"><%= recent[i].title %>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%}%>
            </div>
          </div>
        </div>
      </div>
      <% if(post.length != 0){%>
      <div class="publish5-btn">
        <% 
          var next = current + 1;
          if(next > pages) {
            next = pages;
          }
        %>
                      <a href="/kategorie/<%= category.slug%>?page=<%= next%>"><span> Weitere Beiträge
                          <%= category.name%></span>
                        <span><i style="font-weight: 900;" class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                    </div>
                    <% }%>
                  </div>
                </div>
              </div>
              <section class="footer-main" id="footer">
                <div class="container">
                  <div class="innner-footer-main">
                    <div class="footer-social-icons">
                      <div class="col-md-6 col-sm-6 text-right social-media">
                        <a href="<%= twitter %>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a style="padding: 11px 20px;" href="<%= facebook %>"><i class="fa fa-facebook"
                            aria-hidden="true"></i></a>
                        <a href="<%= linkedin %>"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                      </div>
                      <div class="col-md-6 col-sm-6 text-left social-media">
                        <a href="<%= youtube %>"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="<%= instagram %>"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="<%= pinterest %>"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <div class="footer-copyright">
                      <p><% if(copyright != undefined) { %>
                      <p>
                        <%= copyright.charAt(0).toUpperCase() + copyright.substring(1) %></a></p><%}%></p>
        </div>
        <hr>
        <div class="row">
           <div class="col-md-10">
              <div class="row">
                 <% for(var i = 0; i < footercategory.length; i ++){%>
                      <div class="col-md-3 text-left">
                        <a style="color: black;" href="/kategorie/<%= footercategory[i].slug%>"
                          class="footercategory"><%= footercategory[i].name %></a>
                      </div>
                      <%}%>
              </div>
           </div>
           <div class="col-md-2">
              <div class="row">
                 <div class="col-md-12 text-left">
                    <h4><a style="color:black" href="/d/official/impressum" class="footercategory">Impressum</a></h4>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-12 text-left">
                    <h4><a style="color:black" class="footercategory">AGB</a></h4>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-12 text-left">
                    <h4><a style="color:black" href="/d/official/datenschutz" class="footercategory">Datenschutz</a></h4>
                 </div>
              </div>
           </div>
        </div>
        <hr>
     </div>
     <a href="#" id="scroll" style="display: none;"><span></span></a>
  </div>
  <div class="notification" style="display: none;">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-9">Noticaition </div>
      <div class="col-md-3 col-sm-3 col-xs-3"><h3 class="clear-notification" style="color: black;">&times;</i></h3></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="<% if(user){%><%= user.profilePicture%><%}%>" style="border-radius: 50px; width: 50px; height: 50px;background-position: center;">
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <p><%if(user){%><%= user.username%><%}%></p>
      </div>
    </div>
    <hr>
  </div>
</section>

<div class="popup" id="qualifyPopup">
  <div class="popupContainer">
    <p class="popupTitle">Leider sind unsere exklusiven Inhalte nur Premium-Mitgliedern zugänglich.</p>
    <p class="popupContent">Du möchtest qualifizierte Beiträge lesen, viele weitere exklusive Vorteile
      genießen und unsere Autoren unterstützen? Dann werde jetzt Premium-Member!</p><br><br>
    <a class="popupButton" href="/membership">Jetzt Premium-Mitglied werden</a>
  </div>
  <div class="closepopup">
    <h1 class="text-white">&times;</h1>
  </div>
</div>
<div class="popup-back"></div>
<div class="popup" id="adPopup">
  <div class="adpopupContainer">
    <p class="adpopupTitle">Ad-Blocker</p>
    <p class="adpopupContent">Du verwendest einen Ad-Blocker. Leider kannst du so keine qualifizierten Beiträge einsehen. Wir benötigen die Daten deiner Lesezeit, um unsere Autoren fair zu entlohnen.
      Schalte ihn aus, um die unbegrenzte Vielfalt Dype‘s zu genießen!
    </p><br><br>
  </div>
  <div class="closepopup">
    <h1 class="text-white">&times;</h1>
  </div>
</div>
<%- mainSettings.googleAnalyticsCode %>
                      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                      <script src="/js/jquery-2.1.3.min.js" type="text/javascript"></script>
                      <script src="/js/popper.min.js"></script>
                      <script src="/js/bootstrap1.js" type="text/javascript"></script>
                      <script src="/js/owl.carousel.js" type="text/javascript"></script>
                      <script src="/js/script1.js" type="text/javascript"></script>
                      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                      <script src="/js/footer.js" type="text/javascript"></script>
                      <script src="/js/ads.js" type="text/javascript"></script>
                      <script>
                        $('.category-search-bg1').click(function () {
                          var qualify = $(this).attr('qualify');
                          if (!window.showAds) {
                            $('#adPopup').css('display', 'block');
                            $('.popup-back').css('display', 'block');
                          } else {
                            if (qualify == "true") {
                              $('#qualifyPopup').css('display', 'block');
                              $('.popup-back').css('display', 'block');
                            } else {
                              // if ($(this).attr('url') != "#") {
                              window.open($(this).attr('url'));
                              // }
                            }
                          }
                        });
                        $('.last-article').click(function () {
                          var qualify = $(this).attr('qualify');
                          if (!window.showAds) {
                            $('#adPopup').css('display', 'block');
                            $('.popup-back').css('display', 'block');
                          } else {
                            if (qualify == "true") {
                              $('#qualifyPopup').css('display', 'block');
                              $('.popup-back').css('display', 'block');
                            } else {
                              // if ($(this).attr('url') != "#") {
                              window.open($(this).attr('url'));
                              // }
                            }
                          }
                        });
                        $('.notification').hide();
                        function openNotification() {
                          $('.notification').toggle();
                        }
                        $('.clear-notification').click(function () {
                          $('.notification').hide();
                        });
                        $('.articlelink').click(function () {
                          var qualify = $(this).attr('qualify');
                          if (!window.showAds) {
                            $('#adPopup').css('display', 'block');
                            $('.popup-back').css('display', 'block');
                          } else {
                            if (qualify == "true") {
                              $('#qualifyPopup').css('display', 'block');
                              $('.popup-back').css('display', 'block');
                            } else {
                              // if ($(this).attr('url') != "#") {
                              window.open($(this).attr('url'));
                              // }
                            }
                          }
                        });
                        $('.popup-back').click(function () {
                          $(".popup").css('display', 'none');
                          $(".popup-back").css('display', 'none');
                        });

                        $('.closepopup').click(function () {
                          $(".popup").css('display', 'none');
                          $(".popup-back").css('display', 'none');
                        });
                      </script>
</body>

</html>